<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tim.Planner" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Planner"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tim.Planner.MainActivity"
            android:label="Planner"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewCategories"
            android:label="@string/title_activity_view_courses"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_courses"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SelectCategory"
            android:label="@string/title_activity_select_course"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="tim.Planner.SelectTaskType"
            android:label="@string/title_activity_select_task_type"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CreateEvent"
            android:label="@string/title_activity_create_exercise"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="tim.Planner.CreateAssignment"
            android:label="@string/title_activity_create_assignment"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="tim.Planner.CreateProject"
            android:label="@string/title_activity_create_project"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="tim.Planner.CreateMeeting"
            android:label="@string/title_activity_create_meeting"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="tim.Planner.ViewList"
            android:label="@string/title_activity_view_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewEvent"
            android:label="@string/title_activity_detail_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
